<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Services
                </h1>
                <ol class="breadcrumb">
                    <li><%= link_to "Home", root_path %></li>
                    <li class="active">Services</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Image Header -->
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="http://placehold.it/1200x300" alt="">
            </div>
        </div>
        <!-- /.row -->

        <!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Services</h2>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Draft</h4>
                        <p>Need help coming up with ideas for your commercial location? We'll set up a consultation meeting to help you draft these ideas.</p>
                        <a href="service-one" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>CAD</h4>
                        <p>Our Engineers will put your drafted idea into a CAD program for you to get a better view of what you're building.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Manufacture</h4>
                        <p>Once you've been through the draft and CAD process, we will send the completed file down the line to be manufactured in our facility.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Delivery/Installation</h4>
                        <p>Local customers are offered a delivery service and once the materials are on site, we will also install your products for you.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Service Tabs -->
        <div class="row">
            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-tree"></i> Draft</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-car"></i> CAD</a>
                    </li>
                    <li class=""><a href="#service-three" data-toggle="tab"><i class="fa fa-support"></i> Manufacture</a>
                    </li>
                    <li class=""><a href="#service-four" data-toggle="tab"><i class="fa fa-database"></i> Deliver/Installation</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        <h4>Draft/Quote</h4>
                        <p>Drafting with us includes consultations that involve multiple procedures. You will first meet with the engineer who will be drafting your fixture and finding out exactly what you want to be built. Once this process is complete, the engineer will be sent to the location to take accurate measurements. Once measurements have been recorded the drafting begins and an estimate will be applied. Once the drafting is complete we will send a Quote for the Designing and Manufacturing process to allow you to determine if you would like to proceed with our services.</p>
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <h4>CAD</h4>
                        <p>Using CAD software we will take the draft produced earlier and begin designing the product you requested! This process generally takes a few weeks as we allow precision and accuracy to be our number one priority. Once this process is complete, you will have the option to see your product rendered in digital 3D format for a better look at how it will look in your business or residential area. </p>
                    </div>
                    <div class="tab-pane fade" id="service-three">
                        <h4>Manufacture</h4>
                        <p>The process of manufacturing your product will take place in our own factory. Running through our line of production your product will be fabricated as illustrated by the design generated in the CAD process. Before releasing, your product will be handled by our floor team to ensure quality is met.  </p>
                    </div>
                    <div class="tab-pane fade" id="service-four">
                        <h4>Deliver/Installation</h4>
                        <p> Unfortunately we only deliver to local businesses and residential areas. We do however offer various shipping methods depending on the size and weight of your product. If you need the product shipped then we will quote you on shipping before proceeding with the delivery process of your product. Alternatively, you can schedule your own shipment methods such as "Pick-Up" or have it shipped through a preferred carrier of your choice.</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- Service List -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Additional Services</h2>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Repairs</h4>
                        <p>Repairs include: delaminating issues, chipped wooden fixtures, scratches, missing parts, broken fixtures.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Shipping</h4>
                        <p>Provide us with your address and we will help set up Shipping for your products.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Remodeling</h4>
                        <p>We will head out to your location after multiple consultations to remodel your home or business area.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">3D Rendering</h4>
                        <p>After a Quote and completed CAD of the product have been delivered, we will render a digital model of your business to give you a better idea of what the final product will look like in your area or business.</p>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- /.row -->

        <hr>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Auto Scroll for Services -->
    <script src="js/service_scroll.js"></script>

</body>

</html>
